.participants_table {
    width: 100%; 
    table-layout: fixed;
}

.participant_number {
    padding-right: 2px;
    width: 35px;
}

.participant_name {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2px;
}

.participant_email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th, td {
    border-bottom: 1px solid #9692776d;
}