.meeting_participants_box {
    width: 90rem;
    max-height: 60rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #e9f9ff;
    scroll-behavior: smooth;
    overflow: scroll;
    height: 80rem;
    padding: 2rem;
    margin: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.meeting_participants_header {
    width: 90rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #2891b9;
    height: 2rem;
    padding: 2rem;
    align-items: left;
}
