::-webkit-file-upload-button {
    display: none;
}

.button {
    border-style: solid; 
    border-radius:10px; 
    border-color: black;
    background-color:#EDD7A0;
    text-align: center;
    color: rgb(49, 52, 69);
    font-size: 25px;
    height: 50px;
    width:500px;
    position: fixed;
    margin-top: 300px;
    margin-left: 125px;
    cursor: pointer;
}

.file_button {
    border-style: solid; 
    border-radius:10px; 
    border-color: black;
    background-color:#f0c1ab;
    text-align: center;
    color: rgb(49, 52, 69);
    font-size: 25px;
    height: 50px;
    width:230px;
    position: fixed;
    margin-top: 370px;
    margin-left: 125px;
}

.remove_button{
    border-style: solid; 
    border-radius:10px; 
    border-color: black;
    background-color:#c06757;
    text-align: center;
    color: rgb(49, 52, 69);
    font-size: 25px;
    height: 50px;
    width:230px;
    position: fixed;
    margin-top: 370px;
    margin-left: 390px;
}