::-webkit-file-upload-button {
    display: none;
}

.button {
    border-style: solid; 
    border-radius:10px; 
    border-color: black;
    background-color:#EDD7A0;
    text-align: center;
    color: rgb(49, 52, 69);
    font-size: 20px;
    height: 40px;
    width:400px;
    position: fixed;
    margin-top: 500px;
    margin-left: 50px;
    cursor: pointer;
}
